/****************************************/
/* Global variables */
/****************************************/
body{
    font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}
ul {
    list-style-type: none;
    margin-left: 1.5%;
    padding: 0;
    overflow: hidden;
    font-size: 15px;
}
span{
    color: #ea6502 !important;
    font-weight: 600;
    font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
}
li {
    float: left;
    padding: 1px;
    color: #666666;
    min-height: 325px;
}
li a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-align: left;
}
.img-event{
    
    color: #666666;
    border-radius: 2%;
    
}
.info-event{
    padding: 8px;
    width: 400px;
    vertical-align: top;
    padding-bottom: 30px;
    display: table-cell;
}
.header{
    font-size: 34px;
    line-height: 1.1em;
    margin-left: 20px;
    color: #ea6502 !important;
    font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
