<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
    <app-event-summary></app-event-summary>
    <div ngxSlickItem *ngFor="let slide of slides">
        <div class="row">
            <div class="item">
                <!-- Iterate through each slide -->
                <div class="col-md-11">
                    <h1 class="eventHeader">{{slide.title}}</h1>
                    <!-- header for the seminare (svengelska) -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-8 margin-left">
                            <!-- Left column with the event -->
                            <div class="col-md-12 eventImage">
                                <div class="col-md-12">
                                    <div class="col-md-8">
                                        <img src="{{slide.imageUrl}}" class="img-event" style="width:100%;">
                                        <!-- img for the event -->
                                    </div>
                                    <div class="col-md-4 information">
                                        <!-- Information about the event is presented -->
                                        <span class="information-highlight">INFORMATION</span>
                                        <br>
                                        <span class="highlight">Pris: </span>{{slide.price}}
                                        <!-- Price -->
                                        <br>
                                        <span class="highlight">Språk: </span>{{slide.language}}
                                        <!-- Language -->
                                        <br>
                                        <span class="highlight">Datum: </span>{{slide.date}}
                                        <!-- Date -->
                                        <br>
                                        <span class="highlight">Plats: </span>{{slide.location}}
                                        <!-- Place / Adress -->
                                        <br>
                                    </div>
                                </div>
                                <div class="col-md-12" class="event-description">
                                    <br>
                                    <b>{{slide.subHeading}}</b>
                                    <!-- header for the event description -->
                                    <br>
                                    <br>
                                    <!-- limits the lenght of the description -->
                                    <p id="test" class="crop">{{slide.description}}</p><br> För mer information, besök <span> softhouseeducation.se/kommande-seminarier</span>
                                    <!-- Description for the event -->
                                </div>
                            </div>
                        </div>
                        <!-- end left column -->
                        <div class="col-md-4 margin-right">
                            <!-- The right column with information and the speaker -->
                            <div class="col-md-12">
                            </div>
                            <div class="col-md-12 speaker-information">
                                <!-- Description about the speaker -->
                                <span class="speakerheader">Föreläsare</span><br>
                                <span class="speaker">{{slide.speakerFullName}}</span>
                                <p>{{slide.speakerDescription}}</p>
                            </div>
                            <div class="col-md-12 speaker">
                                <span>{{slide.contactPerson}}<br></span>
                                <!-- Name of the contactperson -->
                            </div>
                            <div *ngIf="slide.contactImageUrl != ''">
                                <div class="col-md-12">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 img-position">
                                        <img class="img" src="{{slide.contactImageUrl}}">
                                        <!-- image of the contactperson -->
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                            <div class="col-md-12 contact-information">
                                <br>
                                <div *ngIf="slide.contactEmail != ''|| slide.contactPhone != '' ">
                                    <p><span>Kontaktuppgifter</span></p>
                                </div>
                                <div *ngIf="slide.contactEmail != ''">
                                    <p>&#9993; {{slide.contactEmail}}</p>
                                </div>
                                <div *ngIf="slide.contactPhone != ''">
                                    <p>&#x2706; {{slide.contactPhone}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- end right column -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</ngx-slick>

<!-- Test for two way binding interval speed -->
<input type="number" class="form-control" [(ngModel)]="myInterval">
<p>{{myInterval}}</p>